* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-phones {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.phones-list {
  width: 58%;
  padding: 1rem;
}

/*  create form begins*/ 
.createNew {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
  width: 24rem;
  padding: 0.5rem;
}

.createNew input {
  width: 95%;
  margin-top: 0.5rem;
  height: 2rem;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.8);
  padding-left: 0.3rem;
}

.createNew .btn_create {
  background: rgba(4, 105, 4, 0.8);
  color: white;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0.4rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-weight: bold;
}

/*  create form finishes */ 

/* phones-list */

.phones-list {
  width: 40rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.3rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 0.4rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  margin-top: .8rem;
}

#form1 {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.3rem;
}

#form_search {
  width: 99%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.1rem;
}

#form_search .search {
  width: 95%;
  height: 2rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0rem 0rem 0.5rem rgba(38, 104, 112, 0.8);
  padding-left: 0.3rem;
}

#form_search .btn_search {
  width: 20%;
}

.table {
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0rem 0rem 0.5rem rgba(38, 112, 48, 0.3);
  margin-top: 1rem;
  width: 95%;
  padding: 0.4rem;
  border-collapse: collapse;
}

.table .thead tr th {
  border: none;
  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.4);
  height: 2rem;
  color: rgba(4, 14, 2, 0.8);
}

.info {
  border: none;
  box-shadow: 0rem 0rem 0.15rem rgba(0, 0, 0, 0.4);
  height: 1.3rem;
  color: rgba(104, 43, 43, 0.9);
  text-align: center;
}

.actions {
  border: none;
  box-shadow: 0rem 0rem 0.15rem rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  padding: 0.3rem;
}

.actions a {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 3rem;
  text-decoration: none;
  padding: 0.2rem;
  color: white;
  font-size: 0.9rem;
  border: none;
  border-radius: 0.3rem;
  font-weight: bold;
}

.actions .delete {
  box-shadow: 0rem 0rem 0.15rem rgba(0, 0, 0, 0.4);
  background: rgba(105, 19, 4, 0.8);
}

.actions .edit {
  margin-top: 0.1rem;
  box-shadow: 0rem 0rem 0.15rem rgba(0, 0, 0, 0.4);
  background: rgba(4, 105, 4, 0.8);
}

/* phones-list finishes */

/*  edit form begins*/

.editNew {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}

.editNew form {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: none;
  border-radius: 0.4rem;
  box-shadow: 0.2rem 0.03rem 0.8rem rgba(0, 0, 0, 0.3);
}

.editNew input {
  width: 95%;
  margin-top: 0.5rem;
  height: 2rem;
  border: none;
  padding-left: 0.3rem;
}

.editNew .btn_edit {
  background: rgba(4, 105, 4, 0.8);
  color: white;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0.4rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-weight: bold;
}

.editNew .btn_cancel_edit {
  background: rgba(105, 19, 4, 0.8);
  color: white;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
  box-shadow: 0.4rem 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-weight: bold;
}

/*  edit form finishes */
